html,body{
    height:100%;
}
body{
    font-family:'Open Sans';
    font-size:16px;
}
h1{
    font-size:20px;
    font-weight: bold;
}
h2{
    font-size:18px;
    font-weight: bold;
}
/******************** Sup Menu *****************************/
.navbar-brand {   
    padding: 6px 6px 6px 30px;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 6px;
}
.navbar {
    border: 0px;
    margin-bottom: 0px;
    min-height: 35px;  
    border-radius: 0;
    font-size:12px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default {
    background-color: #2BAFE3; //Color Primary
    border-color: #2BAFE3;
}

.navbar-collapse {
    border-top: 0px;    
    padding-left: 118px;
    padding-right: 118px;
}

.navbar-form {
    margin: 5px 0;    
}

.navbar .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: top;
    width: 100%;
}

#leftbar{
    padding:20px 10px;
}
#leftbar img{
    margin-bottom:20px;
}

#rightbar{
    padding:30px 20px;
}

.form-div > .row{
    margin-top:20px;
}